node_modules
git add .
git commit -m "Initial commit"
git branch -M main
git remote add origin https://github.com/sampmeena-dotcom/music-era.git
git push -u origin main
git add .
git commit -m "Ready for Render"
git push -u origin main
git add data/users.json
git commit -m "Add data/users.json to fix ENOENT error"
git push
secrets/
*.json
