body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  padding: 20px;
}

h2, h3 {
  color: #ff4081;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #80d8ff;
  text-decoration: none;
}

audio {
  margin-top: 20px;
}

form {
  margin-top: 30px;
}

input[type="file"],
input[type="email"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 8px;
  width: 250px;
}